<% provide(:title, 'About Us') %>
		<h1>About Us</h1>
		<p>
		This Tutorial is based on a project to make a book and screencasts to teach
		web development. This is the sample app based on that.
		</p>
		